@import 'tailwindcss';

@theme {
  /* Colors */
  --color-primary: #6366f1;
  --color-secondary: #06b6d4;
  --color-tertiary: #10b981;
  --color-neutral-900: #0e131f;
  --color-neutral-800: #1e293b;
  --color-neutral-700: #334155;

  /* Fonts */
  --font-family-sans: 'Geist', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;
}
